pandas==2.3.2
Markdown==3.8.2
Pillow==11.3.0
python-decouple==3.8
requests==2.32.5
seaborn==0.13.2
SPARQLWrapper==2.0.0
streamlit==1.49.0
streamlit_agraph==0.0.45
streamlit_tags==1.2.8
validators==0.35.0
streamlit_javascript == 0.1.5
