Markdown==3.5.2
pandas==2.1.4
Pillow==10.2.0
python-decouple==3.8
requests==2.31.0
seaborn==0.13.2
SPARQLWrapper==2.0.0
streamlit==1.29.0
streamlit_agraph==0.0.45
streamlit_tags==1.2.8
validators==0.22.0
