pandas==3.0.3
Markdown==3.10.2
Pillow==12.3.0
python-decouple==3.8
requests==2.34.2
seaborn==0.13.2
SPARQLWrapper==2.0.0
streamlit==1.59.2
streamlit_agraph==0.0.45
streamlit_tags==1.2.8
validators==0.35.0
streamlit_javascript == 0.1.5
